@font-face {
    font-family: 'museo_sans500';
    src: url('../fonts/MuseoSans_500-webfont.eot');
    src: url('../fonts/MuseoSans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/MuseoSans_500-webfont.woff2') format('woff2'),
         url('../fonts/MuseoSans_500-webfont.woff') format('woff'),
         url('../fonts/MuseoSans_500-webfont.ttf') format('truetype'),
         url('../fonts/MuseoSans_500-webfont.svg#museo_sans500') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	font-family: 'museo_sans500';
	background: #DDDDDD; 
	color: #EEEEEE;
	background-image: url("/static/caafi/images/frances_background.png");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: bottom right;
	background-size: 1358px 540px;
	margin:0;
	padding:0;
	padding-top: 75px;
	height:100%
}

footer {
	background-color: #33B77A;
	bottom: 0;
	color: #EEEEEE;
	height: 60px;
	padding: 1% 0 4.5% 0;
	/*position: absolute;*/
	width: 100%;
	position: fixed;
}

#body {
	padding-bottom:160px;   /* Height of the footer */
}

#wrapper {
   min-height:100%;
   position:relative;
   bottom: 0;
}