{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Material en Línea CAAFI | {% block title %}Inicio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- DataTables CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "caafi/css/jquery.dataTables.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "caafi/css/bootstrap.min.css" %}"/>
		<link rel="stylesheet" href="{% static "caafi/css/styleIndex.css" %}">

	</head>

	<body>
		<header>
			<div class="container">
				<h1><strong> CAAFI</strong></h1>
			</div>
		</header>
		<div class="container">
			<section>
				{% block content %}{% endblock %}
			</section>
		</div>
		<footer>
			<div class="containerfluid text-center">
				<p>Universidad Veracruzana</p>
				<p>Centro de Autoacceso de la Facultad de idiomas</p>
			</div>
		</footer>
		  
		<!-- jQuery -->
		<script src="{% static "caafi/js/jquery.min.js" %}"></script>
		  
		<!-- DataTables -->
		<script src="{% static "caafi/js/jquery.dataTables.js" %}"></script>
		
		<script src="{% static "caafi/js/bootstrap.min.js" %}"></script>
		<script src="{% static "caafi/js/scripts.js" %}"></script>
	</body>
</html>