{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Material en Línea CAAFI | {% block title %}Inicio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" type="text/css" href="{% static "caafi/css/bootstrap.min.css" %}"/>
		<link rel="stylesheet" href="{% static "caafi/css/style.css" %}">

		<script src="{% static "caafi/js/jquery.js" %}"></script>
		<script src="{% static "caafi/js/bootstrap.min.js" %}"></script>
	</head>

	<body class="metro">
		<header>
			<div class="container">
				<h1><span class="glyphicon glyphicon-cloud"></span> CAAFI</h1>
			</div>
		</header>
		<div class="container">
			<section>
				{% block content %}{% endblock %}
			</section>
		</div>
		<footer>
			<div class="containerfluid text-center">
				<p>Centro de Autoacceso - Facultad de idiomas</p>
			</div>
		</footer>
	</body>
</html>