{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>Material en Línea CAAFI | {% block title %}Inicio{% endblock %}</title>
		<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
		<!-- DataTables CSS -->
		<link rel="stylesheet" type="text/css" href="{% static "caafi/css/jquery.dataTables.css" %}">
		<link rel="stylesheet" type="text/css" href="{% static "caafi/css/bootstrap.min.css" %}"/>
		<link rel="stylesheet" href="{% static "caafi/css/styleIndex.css" %}">

	</head>

	<body>
		<header>
			<div class="container">
				<div class="row">
					<div class="col-xs-8 col-xs-offset-3 col-sm-6 col-sm-offset-4 col-md-4 col-md-offset-0">
						<h1><img id="logo-white" class="img-responsive" src="{% static "caafi/images/logo-white.png" %}"/></h1>
					</div>
				</div>
			</div>
		</header>
		<div class="container">
			<section>
				{% block content %}{% endblock %}
			</section>
		</div>
		<footer>
			<div class="container-fluid text-center">
				<p>Universidad Veracruzana</p>
				<p>Centro de Autoacceso de la Facultad de idiomas</p>
			</div>
		</footer>
		  
		<!-- jQuery -->
		<script src="{% static "caafi/js/jquery.min.js" %}"></script>
		  
		<!-- DataTables -->
		<script src="{% static "caafi/js/jquery.dataTables.js" %}"></script>
		
		<script src="{% static "caafi/js/bootstrap.min.js" %}"></script>
		<script src="{% static "caafi/js/scripts.js" %}"></script>
	</body>
</html>