{% extends "base.html" %}
{% block title %}Lista de material{% endblock %}
{% block content %}
	<h2 class="text-info text-center">{{ category }}</h2>
	{% for subcategory in subcategories %}
			<li><a href="{% url "lista_subcategorias" language category subcategory.name %}">{{ subcategory.name }}</a></li>
	{% endfor %}
<!--	<table id="categories" class="display table-condensed table-responsive">
	    <thead>
	        <tr>
	            <th>Subcategoría</th>
	            <th>Nivel</th>
	            <th>Competencia primaria</th>
	            <th>Competencia secundaria</th>
	            <th>Tipo de correción</th>
	            <th>Dirección</th>
	            <th>Descripción</th>
	        </tr>
	    </thead>
	    <tbody>
	    	{% for url in urls %}
				<tr>
					<td>{{url.subcategories}}</td>
					<td>{{url.level}}</td>
					<td>{{url.primary_competence}}</td>
					<td>{{url.secondary_competence}}</td>
					<td>{{url.kind_correction}}</td>
					<td><a href="{{ url.address }}">{{ url.address }}</a></td>
					<td>{{url.description}}</td>
				</tr>
	    	{% endfor %}
	    </tbody>
	</table>-->
{% endblock %}